//?================== Colors ==================
$white-color: #ffffff;
$primary-color: #ffd700;
$gray-color: #4d4d4e;
$gray2nd-color: #8d8d8d;
$main-bg-color: #181818;

//?================== Animation ==================
$main-transition: all 0.3s ease-out;
$main-animation: fadeInUp 1s 1.8s backwards;

//?================== Typography ==================
$font-LaBelleAurore: 'La Belle Aurore';
$font-Coolvetica: 'Coolvetica';
$font-HelveticaNeue: 'Helvetica Neue';
$font-size: 11px;
